# text files
*.dat
*.txt
*.jpg
*.png
*.pdf
*.o
*.exe
*__pycache__
*.h5
*.gif
*.pyc
*.ipynb
*SIMsalabim

# Exceptions
!Notebooks/*.ipynb
!Example_Data/OPV_Examples/EES_Data/*txt
!Example_Data/Perovskite_Examples/Solar_RRL_Data/*dat
!Example_Data/Perovskite_Examples/trPL/device_parameters.txt
!requirements.txt
!SPV_Simulation.ipynb
!SPV_Simulation_param_var.ipynb
!Example_Data/Perovskite_Examples/SPV/*txt