# text files
*.dat
*.txt
*.jpg
*.png
*.pdf
*.o
*.exe
*__pycache__
*.h5
*.gif
*SIMsalabim
*.pyc
*.ipynb

# Exceptions
!Notebooks/*.ipynb
!Example_Data/OPV_Examples/EES_Data/*txt
!Example_Data/Perovskite_Examples/Solar_RRL_Data/*dat